.boro-lekha{
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center ;
    
    margin-bottom: 20px;
    margin-right: 150px;
    padding: 80px;
    margin-left: 160px;
    


}

.hudai{
    background: rgba(229, 84, 115, 0.10);

    
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 850px;
    

}

.choto-lekha{
    text-align:center ;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 210px;
}

.text{
    width: 50%;
    
}

.flower{
    width: auto;
    flex-shrink: 0;
    height: 850px;
    margin-right: 300px;
    padding: 0px;
    margin-bottom: 0px;
}
    
.btn{
    background-color: rgb(230, 85, 165);
    margin-left: 220px;
    padding: 20px 30px ;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 10px;
    border-color: none;

}

.l{
    margin-top: 150px;
    justify-content: center;
    
    display: flex;
    font-size: 40px;
}

.c{
    justify-content: center;
    font-size: 18px;
    display: flex; 
}

.back-pic{
    display: flex;
    justify-content: center;
    padding: 50px;
    


}
.skill1{
    background: #272727;
    margin-right: 20px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);


}
.skill2{
    background: brown;
    margin-right: 20px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);


}
.skill3{
    background: #272727;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);



}
.maj{
    color: #272727;
    text-align: center;
    margin-top: 100px;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
}
.m1{
    text-align: center;
    margin-top: 160px;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
}
.ma3{
    text-align: center;
    margin-top: 50px;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
}

.loki{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    background: rgba(39, 39, 39, 0.05);
    padding: 50px;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
    

}

.a1{
    margin-right:80px ;
    
}
.a2{
    margin-right: 80px;
}


.pic1{
    margin-left: 120px;

}
.pic2{
    margin-left: 50px;
}

.delivery-text{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}

.rd{
    background: rgba(229, 84, 115, 0.10);
    padding: 70px;

}
.pic{
    display: flex;
    justify-content: center;
    
}
.non1{
    margin-left: 290px;
}

.non{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 250px;


}
.ch{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;


}

.text-primary{
    color: rgb(230, 85, 165);
}

.pp{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color:  rgb(230, 85, 165);
    border-radius: 10px;
}

.las{
    text-align: center;
}
.las1{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 90px;
}
.las2{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.praysesh{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.q1{
    margin-right: 20px;
}
.q2{
    margin-right: 20px;
}
.q3{
    margin-right: 20px;
}

.so{
    background:url(./Rectangle\ 9.png)
    
    
}
.so{
    padding: 100px;
    background-repeat: no-repeat;
    background-position: center ;
    margin-top: 130px;
}

.classnai{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    margin-top: 120px;
}

.pppp{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.mo{
    display: flex;
    justify-content: center;
}

.chol{
    margin-left: 190px;
    margin-top: 20px;
    width: 700px;
   
}
.bol{
    background-color: rgb(230, 85, 165);
    margin-left: 20px;
    padding: 20px 30px ;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 10px;
    border-color: none;
    
}

.final{
    background-color: #272727;
    padding: 150px;
}

.g1{
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin-bottom: 20px;
}
.g2{
    text-align: center;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.g3{color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;

}
.so{
    margin-bottom: 100px;
    
}